
#main{
  min-height: 100vh;
  background-attachment: fixed;
  background-size: cover;
  background-position: center;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

main{
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 0px;
  padding: 2rem
}

.clearsky{
  background-image: url("/public/bgkImages/clearsky.jpg");
  transition: all 3s;
}
.fewclouds{
  background-image: url("/public/bgkImages/fewclouds.jpg");
  transition: all 3s;
}
.scatteredclouds{
  background-image: url("/public/bgkImages/scatteredclouds.jpg");
  transition: all 3s;
}
.brokenclouds{
  background-image: url("/public/bgkImages/brokenclouds.jpg");
  transition: all 3s;
}
.showerrain{
  background-image: url("/public/bgkImages/showerrain.jpg");
  transition: all 3s;
}
.rain{
  background-image: url("/public/bgkImages/rain.jpg");
  transition: all 3s;
}
.thunderstorm{
  background-image: url("/public/bgkImages/thunderstorm.jpg");
  transition: all 3s;
}
.snow{
  background-image: url("/public/bgkImages/snow.jpg");
  transition: all 3s;
}
.mist{
  background-image: url("/public/bgkImages/mist.jpg");
  transition: all 3s;
}

